<%- include('header.ejs') %>
    <%- include('navbar.ejs') %>
        <script>
            if (!window.token)
                window.location.pathname = "/";
        </script>
        <div style="width: 75%;" class="mx-auto text-center p-2 bg-gray-300 rounded-lg">
            <div class="text-2xl text-gray-500">Your Cart</div>
        </div>
        <div style="width: 75%;" id="cartMain" class="mx-auto my-4 p-2 bg-gray-300 rounded-lg">
            <div id="cartItems" class="grid grid-cols-2 md:grid-cols-3 gap-4 "></div>
            <div id="buttons" class="flex items-center">
                <button btn-order class="dark:bg-white mx-2 dark:text-gray-900 my-2 rounded-md dark:hover:bg-gray-100 focus:outline-none
                    focus:ring-2 focus:ring-offset-2 focus:ring-gray-800 text-base flex items-center justify-center
                    leading-none text-white bg-gray-800 w-full py-4 hover:bg-gray-700 focus:outline-none">
                    Place Order
                    <svg class="text-gray-300 mx-2 dark:text-white cursor-pointer" width="6" height="10"
                        viewBox="0 0 6 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M1 1L5 5L1 9" stroke="currentColor" stroke-width="1.25" stroke-linecap="round"
                            stroke-linejoin="round" />
                    </svg>
                </button>
                <button class="dark:bg-white mx-2 dark:text-gray-900 my-2 rounded-md dark:hover:bg-gray-100 focus:outline-none
                    focus:ring-2 focus:ring-offset-2 focus:ring-gray-800 text-base flex items-center justify-center
                    leading-none text-white bg-gray-800 w-full py-4 hover:bg-gray-700 focus:outline-none">
                    Get Help
                    <svg class="text-gray-300 mx-2 dark:text-white cursor-pointer" width="6" height="10"
                        viewBox="0 0 6 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M1 1L5 5L1 9" stroke="currentColor" stroke-width="1.25" stroke-linecap="round"
                            stroke-linejoin="round" />
                    </svg>
                </button>
                <button data-modal-target="modal-clear-cart" data-modal-toggle="modal-clear-cart" class="dark:bg-white mx-2 dark:text-gray-900 my-2 rounded-md dark:hover:bg-gray-100 focus:outline-none
                    focus:ring-2 focus:ring-offset-2 focus:ring-gray-800 text-base flex items-center justify-center
                    leading-none text-white bg-gray-800 w-full py-4 hover:bg-gray-700 focus:outline-none">
                    Clear Cart
                    <svg class="text-gray-300 mx-2 dark:text-white cursor-pointer" width="6" height="10"
                        viewBox="0 0 6 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M1 1L5 5L1 9" stroke="currentColor" stroke-width="1.25" stroke-linecap="round"
                            stroke-linejoin="round" />
                    </svg>
                </button>
            </div>



            <div id="modal-clear-cart" tabindex="-1"
                class="fixed top-0 left-0 right-0 z-50 hidden p-4 overflow-x-hidden overflow-y-auto md:inset-0 h-[calc(100%-1rem)] max-h-full">
                <div class="relative w-full max-w-md max-h-full">
                    <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
                        <button type="button"
                            class="absolute top-3 right-2.5 text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ml-auto inline-flex justify-center items-center dark:hover:bg-gray-600 dark:hover:text-white"
                            data-modal-hide="modal-clear-cart">
                            <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none"
                                viewBox="0 0 14 14">
                                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                                    stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6" />
                            </svg>
                            <span class="sr-only">Close modal</span>
                        </button>
                        <div class="p-6 text-center">
                            <svg class="mx-auto mb-4 text-gray-400 w-12 h-12 dark:text-gray-200" aria-hidden="true"
                                xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
                                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                                    stroke-width="2" d="M10 11V6m0 8h.01M19 10a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
                            </svg>
                            <h3 class="mb-5 text-lg font-normal text-gray-500 dark:text-gray-400">Are you sure you
                                want to clear your cart? This will not be undone</h3>
                            <button id="button-clear-cart" type="button"
                                class="text-white bg-red-600 hover:bg-red-800 focus:ring-4 focus:outline-none focus:ring-red-300 dark:focus:ring-red-800 font-medium rounded-lg text-sm inline-flex items-center px-5 py-2.5 text-center mr-2">
                                Yes, I'm sure
                            </button>
                            <button data-modal-hide="modal-clear-cart" id="closeModal" type="button"
                                class="text-gray-500 bg-white hover:bg-gray-100 focus:ring-4 focus:outline-none focus:ring-gray-200 rounded-lg border border-gray-200 text-sm font-medium px-5 py-2.5 hover:text-gray-900 focus:z-10 dark:bg-gray-700 dark:text-gray-300 dark:border-gray-500 dark:hover:text-white dark:hover:bg-gray-600 dark:focus:ring-gray-600">No,
                                cancel</button>
                        </div>
                        <script>
                            let btnClearCart = document.getElementById("button-clear-cart");
                            btnClearCart.addEventListener("click", clearCart);
                            function clearCart() {
                                let closer = document.getElementById("closeModal")
                                fetch("/api/cart/clear", {
                                    method: "post",
                                    headers: { "token": window.token }
                                }).then(async res => new Object({ status: res.status, json: await res.json() })).then(json => {
                                    createToast(json.json, json.status === 200 ? "check" : "danger");
                                    closer.click();
                                    cartMain.removeChild(document.getElementById("q"));
                                    cartMain.removeChild(document.getElementById("totalP"));
                                    window.location.reload()
                                    // getCartItems();
                                }).catch(_e => {
                                    createToast("Can't reach the system", "danger");
                                    closer.click();
                                });
                            }
                        </script>
                    </div>
                </div>
            </div>

            <div data-form-element class="my-4 border hidden px-2 py-3 rounded-lg">
                <form class="space-y-6" id="contact_form">
                    <div class="text-base text-gray-500">Contact info</div>
                    <div class="flex w-full items-center">
                        <div class="mx-4">
                            <label for="email" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Your
                                Real Name</label>
                            <input type="text" name="Name" id="Name"
                                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white"
                                placeholder="Example: Abdur Rahman" required>
                        </div>
                        <div class="mx-4">
                            <label for="email" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Your
                                Email Address</label>
                            <input type="email" name="Email" id="email"
                                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white"
                                placeholder="name@company.com" required>
                        </div>
                        <div class="mx-4">
                            <label for="phone_no"
                                class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Your
                                Phone</label>
                            <input type="number" id="phone_no" name="phone_no" placeholder="+923101234567"
                                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white"
                                required>
                        </div>
                    </div>
                    <div class="my-2">
                        <label for="Address" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Your
                            Full Address</label>
                        <textarea id="phone_no" name="address"
                            placeholder="Example city, Ex colony, street no.4, Example Province Pakistan"
                            class="w-96 bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white"
                            required></textarea>
                    </div>
                    <div class="flex items-center">
                        <button btn-form-cancel type="button"
                            class="mx-4 text-white bg-red-700 hover:bg-red-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Cancel</button>
                        <button btn-form-submit type="button"
                            class="mx-4 text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Place
                            order</button>
                    </div>
                </form>

                <script>
                    document.querySelector("[btn-order]").addEventListener("click", () => {
                        let form = document.querySelector("[data-form-element]");
                        form.classList.remove("hidden");
                        form.querySelector("[btn-form-cancel]").addEventListener("click", () => {
                            form.classList.add("hidden");
                        });
                        let orderer = document.querySelector("[btn-form-submit]");
                        orderer.addEventListener("click", place_order);
                    });

                    function place_order() {
                        let body = new FormData(document.getElementById("contact_form"));
                        fetch("/api/orders/", {
                            method: "post",
                            headers: { "token": window.token },
                            body
                        }).then(async _ => ({ status: _.status, json: await _.json() })).then(response => {
                            createToast(response.json, response.status == 200 ? "check" : "danger");
                        });
                    }

                </script>
            </div>
        </div>
        <script>
            let cartItems = document.getElementById("cartItems"),
                cartMain = document.getElementById("cartMain"),
                html = cartItems.innerHTML;

            getCartItems();

            function getCartItems() {
                fetch("/api/cart", {
                    headers: { "token": window.token }
                }).then(res => res.json()).then(json => {
                    cartItems.innerHTML = '';
                    if ((!json.items.length)) {
                        let p = document.createElement("p");
                        p.className = "text-center text-gray-500";
                        p.innerText = "You don't have built your cart";
                        document.getElementById("buttons").classList.add("hidden");
                        return cartMain.appendChild(p);
                    }
                    else {
                        for (let item of json.items)
                            createProduct(item);
                        let price = document.createElement("p"),
                            q = document.createElement("p");
                        price.className = "my-2 text-gray-800 "
                        q.className = price.className;
                        q.id = "q";
                        price.id = "totalP";
                        q.innerText = "Total Quantity: " + json.quantity + " Items";
                        price.innerText = "Total Price : Rs." + json.totalPrice;
                        cartMain.appendChild(price);
                        cartMain.appendChild(q);
                    }
                });
            }
            function createProduct(product) {
                let html = cartItems.innerHTML;
                html += `<div class="product p-2 shadow-sm rounded-md">`
                html += `<img style="height: 15em;" class="h-auto w-full my-2 rounded-lg"
                        src='${product.Pic[0]}'
                            alt="" >
                        `
                html += `
                        <h1 class="text-2xl mt-4" >
                            ${product.Name}
                        </h1 >
                        <p class="mb-4">
                            ${product.Description}
                        </p>
                        <div class="my-2">
                            <h1 class="font-bold">Rs.${product.Price}
                            </h1>
                            <h1 class="font-bold">Quantity: ${product.quantity}</h1>
                            <h1 class="font-bold">Total Price: Rs.${product.total}</h1>
                        </div>
                    </div>`
                cartItems.innerHTML = html;
            }
        </script>
        <%- include('headerEnd.ejs') %>