<%- include('header.ejs') %>
    <%- include('navbar.ejs') %>
        <div class="my-4 flex flex-col items-center w-md mx-auto px-2 py-3 rounded-lg">
            <p class="my-4 text-center text-2xl">Have any concern? We are here to help you</p>
            <form class="space-y-6 w-md" id="contact_form">
                <div class="text-base text-gray-500">Contact info</div>
                <div class="flex items-center">
                    <div class="mx-4">
                        <label for="email" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Your
                            Real Name</label>
                        <input type="text" name="Name" id="Name"
                            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white"
                            placeholder="Example: Abdur Rahman" required>
                    </div>
                    <div class="mx-4">
                        <label for="email" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Your
                            Email Address</label>
                        <input type="email" name="Email" id="email"
                            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white"
                            placeholder="name@company.com" required>
                    </div>
                </div>
                <div class="my-2">
                    <label for="concern" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Your
                        Concern</label>
                    <textarea id="concern" name="concern"
                        placeholder="Don't include personal information like Phone Numbers, ID's or any other personal thing"
                        class="bg-gray-50 w-full h-56 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white"
                        required></textarea>
                </div>
                <div class="flex items-center">
                    <a href="/" type="button"
                        class="mx-4 text-white bg-red-700 hover:bg-red-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Cancel</a>
                    <button btn-form-submit type="button"
                        class="mx-4 text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Submit</button>
                </div>
            </form>
            <script>
                document.querySelector("[btn-form-submit]").addEventListener("click", sub);
                function sub() {
                    let body = new FormData(document.getElementById("contact_form"));
                    fetch("/api/data/contact/submit", { body, method: "post" }).then(async res => ({ status: res.status, json: await res.json() })).then(json => {
                        createToast(json.json, json.status === 200 ? "check" : "danger");
                    });
                }

            </script>
        </div>
        <%- include('headerEnd.ejs') %>