<%- include('header.ejs') %>
    <%- include('navbar.ejs') %>
        <script>
            document.title = "Settings - Millionaro";
        </script>
        <main style="width: 50%;" class="w-md mx-auto">
            <div class="text-gray-800 bg-gray-200 p-3 rounded-lg">
                <p class="text-2xl font-semibold">Settings</p>
            </div>
            <div class="my-4">
                <div class="block">
                    <div
                        class="inline-flex justify-between items-center py-2 px-2 pr-4 mb-2 text-sm text-blue-700 bg-blue-100 rounded-lg dark:bg-blue-900 dark:text-blue-300 dark:hover:bg-blue-800">
                        <span class="text-sm font-semibold font-medium">Profile information</span>
                    </div>
                </div>
                <div class="border p-3 rounded-lg">
                    <div class="flex items-center justify-center">
                        <img class="w-28 h-28" user-pic src="/images/user.png" alt="">
                    </div>
                    <div class="flex items-center">
                        <p class="text-base font-semibold">Username: </p>
                        <p user-name class="text-base mx-2"></p>
                    </div>
                    <div class="flex items-center">
                        <p class="text-base font-semibold">Your Email: </p>
                        <p user-email class="text-base mx-2"></p>
                    </div>
                    <div class="flex items-center">
                        <p class="text-base font-semibold">Your Gender: </p>
                        <p user-gender class="text-base mx-2"></p>
                    </div>
                    <div class="flex items-center">
                        <p class="text-base font-semibold">Your City: </p>
                        <p user-city class="text-base mx-2"></p>
                    </div>
                    <div class="flex justify-center my-2 items-center">
                        <a href="/settings/update_me"
                            class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-4 py-2 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                            Update Profile information
                        </a>
                        <button type="button"
                            class="text-white mx-2 bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-4 py-2 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                            Download information
                        </button>
                    </div>
                </div>
            </div>

            <script>
                let i = setInterval(() => {
                    if (window.user) {
                        document.querySelector("[user-pic]").src = window.user.Pic;
                        document.querySelector("[user-name]").innerText = window.user.Name;
                        document.querySelector("[user-email]").innerText = window.user.Email;
                        document.querySelector("[user-city]").innerText = window.user.City;
                        document.querySelector("[user-gender]").innerText = window.user.Gender;

                        clearInterval(i);
                    }
                }, 1000);
            </script>

            <div class="my-4">
                <div class="block">
                    <div
                        class="inline-flex justify-between items-center py-2 px-2 pr-4 mb-2 text-sm text-blue-700 bg-blue-100 rounded-lg dark:bg-blue-900 dark:text-blue-300 dark:hover:bg-blue-800">
                        <span class="text-sm font-semibold font-medium">Privacy and Security</span>
                    </div>
                </div>
                <div class="block">
                    <div
                        class="inline-flex justify-between items-center py-1 px-2 pr-4 mb-2 text-sm text-blue-700 bg-blue-100 rounded-lg dark:bg-blue-900 dark:text-blue-300 dark:hover:bg-blue-800">
                        <span class="text-xs bg-blue-600 rounded-full text-white px-4 py-1.5 mr-3">
                            <svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
                                fill="currentColor" viewBox="0 0 20 20">
                                <path
                                    d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM10 15a1 1 0 1 1 0-2 1 1 0 0 1 0 2Zm1-4a1 1 0 0 1-2 0V6a1 1 0 0 1 2 0v5Z" />
                            </svg>
                        </span>
                        <span class="text-sm font-semibold font-medium">We respect your Privacy and Data that you made
                            on our Store, Any piece of your information can not leak or spied, We have best of our
                            Security</span>
                    </div>
                </div>
                <div
                    class="w-full items-center py-1 px-2 mb-2 text-sm text-blue-700 bg-blue-100 rounded-lg dark:bg-blue-900 dark:text-blue-300 dark:hover:bg-blue-800">
                    <div class="my-2 px-2 flex items-center">
                        <div class="text-base flex-1">
                            <p>
                                Can we use your information for Suggessions on our Store
                            </p>
                        </div>
                        <div class="mx-4">
                            <select
                                class="block w-full p-4 mb-4 pl-5 text-sm text-gray-900 border border-gray-300 rounded-lg bg-white focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-800 dark:border-gray-700 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
                                <option value="Yes">Yes, We can</option>
                                <option value="Yes">No, We can't</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div
                    class="w-full items-center py-1 px-2 mb-2 text-sm text-blue-700 bg-blue-100 rounded-lg dark:bg-blue-900 dark:text-blue-300 dark:hover:bg-blue-800">
                    <div class="my-2 px-2 flex items-center">
                        <div class="text-base flex-1">
                            <p>Do you agree if we use your Search History for improving searching on the store</p>
                        </div>
                        <div class="mx-4">
                            <select
                                class="block w-full p-4 mb-4 pl-5 text-sm text-gray-900 border border-gray-300 rounded-lg bg-white focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-800 dark:border-gray-700 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
                                <option value="Yes">Yes, We can</option>
                                <option value="Yes">No, We can't</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div
                    class="w-full items-center py-1 px-2 mb-2 text-sm text-blue-700 bg-blue-100 rounded-lg dark:bg-blue-900 dark:text-blue-300 dark:hover:bg-blue-800">
                    <div class="my-2 px-2 flex items-center">
                        <div class="text-base flex-1">
                            <p>Store my Single Piece of data for improvements</p>
                        </div>
                        <div class="mx-4"><select
                                class="block w-full p-4 mb-4 pl-5 text-sm text-gray-900 border border-gray-300 rounded-lg bg-white focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-800 dark:border-gray-700 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
                                <option value="Yes">Yes, We can</option>
                                <option value="Yes">No, We can't</option>
                            </select></div>
                    </div>
                </div>
            </div>
            <div
                class="flex w-full items-center py-1 px-2 mb-2 text-sm text-blue-700 bg-blue-100 rounded-lg dark:bg-blue-900 dark:text-blue-300 dark:hover:bg-blue-800">
                <div class="my-2 px-2 flex items-center">
                    <div class="text-base flex-1">
                        <p>How would your Expierience on the Store</p>
                    </div>
                    <div class="mx-4"></div>
                </div>
            </div>
            </div>
        </main>
        <%- include('headerEnd.ejs') %>